<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answerA</key>
		<string>赋值基本数据、OC对象、NSString</string>
		<key>answerB</key>
		<string>OC对象、赋值基本数据、NSString</string>
		<key>answerC</key>
		<string>NSString、赋值基本数据、OC对象</string>
		<key>answerD</key>
		<string>赋值基本数据、NSString、OC对象</string>
		<key>rigthAnswer</key>
		<string>A</string>
		<key>question</key>
		<string>属性assign，retain，copy是什么作用？</string>
		<key>number</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>answerA</key>
		<string>是多继承，同C++相似</string>
		<key>answerB</key>
		<string>单继承，用单例实现</string>
		<key>answerC</key>
		<string>单继承，用分类或者协议是想</string>
		<key>answerD</key>
		<string>是多继承，用代理代替</string>
		<key>rigthAnswer</key>
		<string>C</string>
		<key>question</key>
		<string>Object-C有多继承吗？没有的话用什么代替？</string>
		<key>number</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>answerA</key>
		<string>没有、没有</string>
		<key>answerB</key>
		<string>有、有</string>
		<key>answerC</key>
		<string>没有、有</string>
		<key>answerD</key>
		<string>有、没有</string>
		<key>rigthAnswer</key>
		<string>A</string>
		<key>question</key>
		<string>Object-C有私有方法吗？私有变量呢？</string>
		<key>number</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>answerA</key>
		<string>迭代器</string>
		<key>answerB</key>
		<string>forin遍历</string>
		<key>answerC</key>
		<string>block遍历</string>
		<key>answerD</key>
		<string>以上全部</string>
		<key>rigthAnswer</key>
		<string>D</string>
		<key>question</key>
		<string>怎样遍历数组？</string>
		<key>number</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>answerA</key>
		<string>sortedArraryUsingSeletor:@selector(compare:)调用某个方法</string>
		<key>answerB</key>
		<string>block方式</string>
		<key>answerC</key>
		<string>描述器方式</string>
		<key>answerD</key>
		<string>以上全部</string>
		<key>rigthAnswer</key>
		<string>D</string>
		<key>question</key>
		<string>怎样给数组元素排序</string>
		<key>number</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>answerA</key>
		<string>for(id key in dict)</string>
		<key>answerB</key>
		<string>迭代器：NSEnumerator</string>
		<key>answerC</key>
		<string>Block方式</string>
		<key>answerD</key>
		<string>以上全部</string>
		<key>rigthAnswer</key>
		<string>D</string>
		<key>question</key>
		<string>怎样遍历字典</string>
		<key>number</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>answerA</key>
		<string>一个程序对应一个进程，一个线程对应一个线程</string>
		<key>answerB</key>
		<string>要执行进程必须开启线程</string>
		<key>answerC</key>
		<string>一个进程允许开启多线程，也就是说同时执行多个任务</string>
		<key>answerD</key>
		<string>以上全部</string>
		<key>rigthAnswer</key>
		<string>D</string>
		<key>question</key>
		<string>线程和进程的区别</string>
		<key>number</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>answerA</key>
		<string>打开程序-&gt;打开main函数-&gt;执行aplicationMain-&gt;Appdelegate-&gt;rootViewController</string>
		<key>answerB</key>
		<string>打开程序-&gt;打开main函数-&gt;执行aplicationMain-&gt;rootViewController</string>
		<key>answerC</key>
		<string>打开程序-&gt;打开main函数-&gt;Appdelegate-&gt;rootViewController</string>
		<key>answerD</key>
		<string>打开程序-&gt;打开main函数-&gt;执行aplicationMain-&gt;Appdelegate</string>
		<key>rigthAnswer</key>
		<string>A</string>
		<key>question</key>
		<string>ios启动过程</string>
		<key>number</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>answerA</key>
		<string>将不在视野的Cell删除，用的时候根据ID标示创建</string>
		<key>answerB</key>
		<string>将不在视野的Cell放到缓存池，再拿出来显示</string>
		<key>answerC</key>
		<string></string>
		<key>answerD</key>
		<string></string>
		<key>rigthAnswer</key>
		<string>B</string>
		<key>question</key>
		<string>TableView的重用机制</string>
		<key>number</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>answerA</key>
		<string>声明变量</string>
		<key>answerB</key>
		<string>定义宏</string>
		<key>answerC</key>
		<string>引入外部声明类 类似#import&lt;UIKit/UIKit.h&gt;</string>
		<key>answerD</key>
		<string>放工程下各个文件都会用到的宏或者头文件</string>
		<key>rigthAnswer</key>
		<string>D</string>
		<key>question</key>
		<string>Pch文件有什么作用？</string>
		<key>number</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>answerA</key>
		<string>KVC 健值编码 KVO键值监听</string>
		<key>answerB</key>
		<string>KVC 键值监听 KVO健值编码</string>
		<key>answerC</key>
		<string></string>
		<key>answerD</key>
		<string></string>
		<key>rigthAnswer</key>
		<string>A</string>
		<key>question</key>
		<string>What are KVO and KVC?</string>
		<key>number</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>answerA</key>
		<string>分类是有名称，类扩展没有名称</string>
		<key>answerB</key>
		<string>分类只能填充方法、不能扩展成员变量；类扩展可以扩充方法和成员变量</string>
		<key>answerC</key>
		<string>类扩展一般就写在.m文件肿，用来扩充私有的方法和成员变量</string>
		<key>answerD</key>
		<string>以上全部</string>
		<key>rigthAnswer</key>
		<string>D</string>
		<key>question</key>
		<string>Difference between categories and extensions</string>
		<key>number</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>answerA</key>
		<string>全局共享资源</string>
		<key>answerB</key>
		<string>节省不必要的内存开销</string>
		<key>answerC</key>
		<string>统一管理</string>
		<key>answerD</key>
		<string>以上全部</string>
		<key>rigthAnswer</key>
		<string>D</string>
		<key>question</key>
		<string>单例的目的</string>
		<key>number</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>answerA</key>
		<string>并发、串行、异步、同步</string>
		<key>answerB</key>
		<string>并发、异步</string>
		<key>answerC</key>
		<string>串行、同步</string>
		<key>answerD</key>
		<string>串行、异步</string>
		<key>rigthAnswer</key>
		<string>A</string>
		<key>question</key>
		<string>GCD的特征</string>
		<key>number</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>answerA</key>
		<string>frame以控件本身左上角为坐标原点，bounds以父控件的左上角为坐标的原点</string>
		<key>answerB</key>
		<string>frame以父控件的左上角为坐标的原点，bounds以控件本身左上角为坐标原点</string>
		<key>answerC</key>
		<string></string>
		<key>answerD</key>
		<string></string>
		<key>rigthAnswer</key>
		<string>B</string>
		<key>question</key>
		<string>Difference between frame and bounds</string>
		<key>number</key>
		<integer>15</integer>
	</dict>
</array>
</plist>
